Source: dovecot
Section: mail
Priority: optional
Maintainer: Dovecot Maintainers <jaldhar-dovecot@debian.org>
Uploaders: Jaldhar H. Vyas <jaldhar@debian.org>, Fabio Tranchitella <kobold@debian.org>
Build-Depends: debhelper (>= 5.0.0), automake1.9, autoconf, libtool, pkg-config, libssl-dev, libpam0g-dev, libldap2-dev, libpq-dev, libmysqlclient15-dev, libsqlite3-dev, libsasl2-dev | libsasl-dev, zlib1g-dev, libkrb5-dev, dpatch, byacc, flex
Build-Conflicts: linux-kernel-headers (<= 2.5.999-test7-bk-17), automake1.4
Standards-Version: 3.7.2.1
Vcs-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/dovecot/trunk
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/dovecot/trunk/?op=log

Package: dovecot-common
Architecture: any
Depends: ${shlibs:Depends}, libpam-runtime (>= 0.76-13.1), openssl, adduser, ucf (>= 2.0020)
Replaces: dovecot
Description: secure mail server that supports mbox and maildir mailboxes
 Dovecot is a mail server whose major goals are security and extreme
 reliability. It tries very hard to handle all error conditions and verify
 that all data is valid, making it nearly impossible to crash. It should
 also be pretty fast, extensible, and portable.
 .
 This package contains the files used by both the dovecot IMAP and POP3 
 servers.

Package: dovecot-dev
Architecture: any
Depends: ${shlibs:Depends}, dovecot-common (= ${binary:Version})
Description: header files for the dovecot mail server
 Dovecot is a mail server whose major goals are security and extreme
 reliability. It tries very hard to handle all error conditions and verify
 that all data is valid, making it nearly impossible to crash. It should
 also be pretty fast, extensible, and portable.
 .
 This package contains header files needed to compile plugins for the
 dovecot mail server.

Package: dovecot-imapd
Architecture: any
Depends: ${shlibs:Depends}, dovecot-common (= ${binary:Version})
Provides: imap-server
Replaces: imap-server
Description: secure IMAP server that supports mbox and maildir mailboxes
 Dovecot is a mail server whose major goals are security and extreme
 reliability. It tries very hard to handle all error conditions and verify
 that all data is valid, making it nearly impossible to crash. It should
 also be pretty fast, extensible, and portable.
 .
 This package contains the dovecot IMAP server.

Package: dovecot-pop3d
Architecture: any
Depends: ${shlibs:Depends}, dovecot-common (= ${binary:Version})
Provides: pop3-server
Replaces: pop3-server
Description: secure POP3 server that supports mbox and maildir mailboxes
 Dovecot is a mail server whose major goals are security and extreme
 reliability. It tries very hard to handle all error conditions and verify
 that all data is valid, making it nearly impossible to crash. It should
 also be pretty fast, extensible, and portable.
 .
 This package contains the dovecot POP3 server.
