#!/bin/sh
set -e

. /usr/share/debconf/confmodule

## SSL Certs
# Certs and key file
OLD_SSL_CERT="/etc/ssl/certs/dovecot.pem"
OLD_SSL_KEY="/etc/ssl/private/dovecot.pem"
if [ ! -z "`which doveconf > /dev/null 2>&1`" ]; then
  SSL_CERT=`doveconf -S ssl_cert | sed -e 's/^ssl_cert=<//'`
  SSL_KEY=`doveconf -S ssl_key | sed -e 's/^ssl_key=<//'`
else
  SSL_CERT="/etc/dovecot/dovecot.pem"
  SSL_KEY="/etc/dovecot/private/dovecot.pem"
fi

if [ -e "$OLD_SSL_CERT" ] || [ -e "$OLD_SSL_KEY" ]; then
  db_input low dovecot-core/ssl-cert-exists || true
  db_go || true
  db_set dovecot-core/create-ssl-cert false
# Generate new certs if needed
else
  if [ -e "$SSL_CERT" ] || [ -e "$SSL_KEY" ]; then
    db_set dovecot-core/create-ssl-cert false
  else
    db_input high dovecot-core/create-ssl-cert || true
    db_go || true
    db_get dovecot-core/create-ssl-cert
    if [ "$RET" = "true" ]; then
       db_input high dovecot-core/ssl-cert-name || true
       db_go || true
    fi
  fi
fi
db_go || true
